<div>  
<%= @data[:coach_name]%>,
<br/><br/>
You are scheduled to teach a <%= @data[:language]%> session beginning at <%= @data[:time]%> Eastern time. Please join the session immediately, or contact Live Support (866-822-9534) and the supervisor on duty if you are unable to teach it.
<br/><br/>
Regards,<br/>
Customer Success Portal.
</div>