root { 
    display: block;
}

body {
    background: none;
    font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
    font-size: 62.5%;
    line-height: 1.8em;
    color: #333;
}

h3{ color: black; }

div.legend_list {
    float:right;
    padding-right: 25px;
}

.legend_list td.mgr_scheduled {
    background: #498B66;
    width: 130px;
}

.legend_list td.mgr_available {
    background: #4444FF;
    width: 130px;
}

.legend_list td.mgr_unavailable {
    background: #999999;
    width: 130px;
}

div.availabilities_table_container {
    padding :17px;
    padding-top: 85px;
}

.legend_list td {
    width: 80px;
    text-align:center;
}

.table_list { clear: both; border: 1px; }
.table_list td, .table_list th { background: #BBBBBB; padding: 2px 10px; border: 1px solid #ccc; }
.table_list th { background: #F0F0F0; font-weight: bold; color: #666; text-transform: uppercase; white-space: nowrap; text-align: center }

td.scheduled, td.coach_scheduled {
  background: #BBFFBB;
}

td.available, td.coach_available {
  background: #BBBBFF;
}

td.unavailable, td.coach_unavailable {
  background: #BBBBBB;
}

td.coach_manager_available {
  background: #4444FF;
}

td.coach_manager_scheduled {
  background: #498B66;
}

td.coach_manager_unavailable {
  background: #4444FF;
}
.print_container{width: 985px; padding: 15px 0pt 0pt; margin: 0pt 10px;}
.top_section{width: 985px; float: left; padding: 0pt 0pt 5px 10px;}
.print_title{padding-bottom: 5px;}
