<div id="rightnav">
  <h2>Events</h2>
  <br/>
  <hr/>
  <div id="calendar">
    <%= render :partial=>"shared/extranet/calendar" %>
  </div>
  <div id="event"></div>
  <div id="month_events">
    <%= render :partial => "shared/extranet/events" %>
  </div>
</div>
