<div id="ms-legend">
  <div class="legend-box" id="dark-tan-box"></div>
  <div class="legend-text">Contains Uncommitted Changes</div>
  <div class="legend-box" id="light-tan-box"></div>
  <div class="legend-text">Committed to Schedule</div>
  <div class="legend-box" id="recurring_sessions_legend"></div>
  <div class="legend-text">Recurring Sessions</div>
  <br/>
  <div class="legend-box" id="extra_sessions_legend"></div>
  <div class="legend-text">Extra Sessions</div>
</div>
