<div class="admin_dashboard_item">
  <h3>Auditing</h3>
  <%= link_to "Audit Logs", home_audit_logs_path, :class => "admin_dashboard_sub_item" %><br/>
  <%= link_to "User Actions", home_track_users_path, :class => "admin_dashboard_sub_item" %>
</div>